name: Java CI And Test Coverage

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: 11

    - name: Install wine (exe conversion test)
      run: sudo apt-get install klayout

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Run Tests with Coverage
      run: ./gradlew test --stacktrace
